# General
\#*#
.*~
*~
.#*
*.swp
.DS_Store
.gdb_history
TAGS
# Object files
*.a
*.o
*.so
*.hi
*.p_hi
a.out
# autotool
autom4te.cache
stamp-h1
# misc
*.sqlite
Main
dist/
cabal-dev/
.cabal-sandbox
cabal.sandbox.config

oauth_consumer.json
access_token.json
debug.log
haskell_test_1.json
haskell_test_2.json
